[submodule "scaledyolov4"]
	path = detector/scaled_yolov4/parent
	url = https://github.com/mohith-sakthivel/ScaledYOLOv4.git
	branch = detector
[submodule "deepsort"]
	path = tracker/deepsort/parent
	url = https://github.com/mohith-sakthivel/deep_sort_pytorch.git
	branch = tracker
